<!DOCTYPE html>
<html>
  <head>
    <title>RethinkDB Intro</title>
  </head>
  <body>
    <% if (rdbConnected) { %>
    Connected to RethinkDB!
    <% } else { %>
    Unable to connect to RethinkDB :(
    <% } %>
  </body>
</html>